version: '3'
services:
  ework-runner:
    restart: always
    container_name: ework-execute
    image: duke1616/ework-runner:latest
    command: ./ework-execute
    ports:
      - 8668:8001
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - ./prod.yaml:/app/config/prod.yaml
networks:
  default:
    external:
      name: sre